/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Workaround: Missing border after publishing with Docosaurus */
.getStarted {
  border-width: 2px;
  border-style: solid;
}

.sectionFeatures {
  display: flex;
  justify-content: center;
  width: 100%;
}

.features {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem 16px;
  width: 100%;
  max-width: 996px;
}

.feature {
  padding: 0 16px;
  width: 300px;
}

@media screen and (max-width: 644px) {
  .feature {
    width: 100%;
  }
}

.featureImage {
  height: 200px;
  width: 200px;
}

.list {
  padding-bottom: 4rem;
  margin-left: 50%;
  transform: translateX(-50%);
}

.sample {
  padding-bottom: 4rem;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 900px;
}

@media screen and (max-width: 966px) {
  .sample {
    padding: 0rem 1rem 3rem;
    width: 100%;
  }
}

.sampleDescription {
  padding-top: 16px;
}
